*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

 .container{
     max-width: 1200px;
     margin: 0 auto;
 }

 .header{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50% ;
    height:100vh;
    background-attachment: fixed;
 }

 .header__texto {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
 }
.header__texto h1, .header__texto h2, .header__texto p{
    background-color: #f1c40fb3;
    padding: 1em 2.5em;
    margin: .6em;
    font-weight: normal;
}

.menu{
    background-color: rgba(229, 229, 229, 0.5);
    width: 100%;
    overflow: hidden;
    padding: 10px;
    
    
}
.conteudo__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}
.itens__menu {
    color: black;
    text-decoration: none; 
    margin-left: 12px;
    padding: 10px 7px; 
    margin-top: 16px;
       
}
.menu__btn{
    color: #ffffff;
}
.botao__inscricao  {
   display: flex;
   background-color: #E74C3C;
   font-size: 16px;
   color: #ffffff;
   border: none;
   border-radius: 5px;
   padding: 7px 15px;
   justify-content: center;
   align-items: center;

}


.text>p{
    width: 70%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0 10px 15%;
    padding-bottom: 20px;
    word-spacing: -3px;
}
.titulo__menu{
    text-align: center;
    font-weight: bold;
    margin: 30px 0 35px 0;
}
h2{
    text-align: center;
    font-weight: bold;
    margin: 30px 0 35px 0;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 8px auto; 
    width: 1088px;
    height: 201px;
}
.table tr {
    padding: 10px;
}
.table td{
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
    padding: 10px;
}

.table th {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    background-color: #E5E5E5;
    padding: 15px;
}

.formulario{
    display: flex;
    margin-bottom: 100px;

}
.formulario div{
    width: 100%;
    display: flex;
    margin-bottom: 36px;
}
.campo{
    width: 100%;
    height: 51px;
    padding: 12px;
    border: 1px #F1C40F solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.campo__contato{
   margin: 15px 20px 20px 0;
   padding: 15px;
   display: flex;
   flex-direction: column;
   position: relative;
}

.label{
    color: black;
    display: flex;
    margin: 10px 10px 10px 0;
  
}
.campo__texto{
    width: 424px;
    border: 1px #F1C40F solid;
    border-radius: 5px;
    display: flex;
    resize: none;
    margin-bottom: 50px;
    height:138px;

}

.btn__Enviar{
    background-color:#F1C40F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 45px;
    bottom: 0;
    
}
.footer{
    height: 302px;
    background-color:#F1C40F;
    text-align: center;
    display: flex;
    align-items: center;
}

.info__footer{
    color: #ffffff;
    font-size: 18px;

}
.footer_campus{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}
