*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

 .container{
     max-width: 1200px;
     margin: 0 auto;
 }

 .header{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50% ;
    height:100vh;
    background-attachment: fixed;
 }

 .header__texto {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
 }
.header__texto h1, .header__texto h2, .header__texto p{
    background-color: #f1c40fb3;
    padding: 1em 2.5em;
    margin: .6em;
    font-weight: normal;
}

.menu{
    background-color: rgba(229, 229, 229, 0.5);
    width: 100%;
    height: 37px;
    overflow: hidden;
    
    
}
.conteudo__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    
}
.itens__menu {
    color: black;
    text-decoration: none; 
    margin-left: 12px;
    padding: 10px 7px; 
    margin-top: 13px;
       
    }
.menu__btn{
    
}

.text>p{
    width: 70%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0 10px 15%;
    padding-bottom: 20px;
    word-spacing: -3px;
}
.titulo__menu{
    text-align: center;
    font-weight: bold;
    margin: 30px 0 35px 0;
}
h2{
    text-align: center;
    font-weight: bold;
    margin: 30px 0 35px 0;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 8px auto; 
}
.table tr {
    padding: 15px;
}
.table td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.table th {
    border: 1px solid black;
    background-color: #E5E5E5;
    padding: 20px;
}
.campo{
    width: 40%;
    padding: 12px;
    border: 1px #F1C40F solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.campo__contato{
   margin: 15px 20px 20px 0;
   padding: 15px;
   display: flex;
}

.label{
    color: black;
    display: flex;
    margin-right: 10px;
}
.campo__texto{
    border: 1px #F1C40F solid;
    border-radius: 5px;
    display: flex;
    resize: none;
}

.btn__Enviar{
    background-color:#F1C40F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 140px;
    height: 40px;
    cursor: pointer;
}
